.book-card {
  background-color: #4cae4c;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.book-card__info {
  width: 200px;
  background-color: #2d6da3;
}
.book-card__actions {
  display: flex;
  gap: 1rem;

}